.auth {
  margin: 5rem auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  width: 30rem;
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
  background-color: #827e89;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: #eddddd;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.control input {
  display: block;
  width: 20rem;
  margin: auto;
  border-radius: 4px;
  padding: 0.25rem;
  border: 1px solid #ccc;
}
.auth button {
    background-color: #3c0080;
    color: white;
    padding: 0.5rem;
    margin: 1rem;
    width: 5rem;
    font-size: 1.3rem;
}
