.head {
    width: 95%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9147e4;
    color: white;
    padding: 0 2%;
  }
  .head h1{
    color: white;
  }
  
  .head ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  .head li {
    margin: 0 1rem;
  }
  
  .head a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
  }
  
  .head a:hover,
  .head a:active {
    color: #b864da;
  }
  
  .head button {
    font-size: 1.25rem;
    background-color: #ffbb00;
    border: 1px solid #ffbb00;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    color: #2c2922;
  }
  
  .head button:hover,
  .head button:active {
    background-color: #503c23;
    color: white;
    border-color: #ffa600;
  }
  